<!-- Hero-->
<section class="container-fluid my-0 pt-0 pb-lg-4 px-xxl-0">
  <div class="banner jarallax card align-items-center justify-content-center border-0 p-md-5 p-4 bg-secondary overflow-hidden mt-n3" data-jarallax data-speed="0.5">
      <span class="img-overlay opacity-40"></span>
      <div class="logo-content col-12 my-0 pt-0 ">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img class="align-items-start" src="../../../assets/images/logo.png" alt="Aviatur" width="180" height="50">
            </a>
            <div class="d-flex">
              <a class="navbar-brand" href="#" style="font-size: 1.5rem;">
                <i class="fa-sharp fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
              </a>
              <a class="navbar-brand mx-4" href="#" style="font-size: 1.5rem;">
                <i class="fa-sharp fa-regular fa-user" style="color: #ffffff;"></i>
              </a>
            </div>
          </div>
        </nav>
      </div> 
      <div class="subtitle content-overlay col-12">
        <h1 class="mb-5 pb-md-3 px-md-3 text-white text-left">
          <strong>
            <p>Descubra Nuevos</p>
            <p>Destinos.</p>
          </strong>
        </h1>
      </div>
    </div>
    <div class="filter card text-center col-10">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="fa-sharp fa-solid fa-plane-departure" style="color: #172640;"></i> 
              Vuelos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-sharp fa-solid fa-hotel" style="color: #172640;"></i> 
              Hotel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-sharp fa-solid fa-car" style="color: #172640;"></i> 
              Autos
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form>
          <div class="row m-3">
            <div class="col-12 d-flex align-items-start">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="idaVuelta" value="idaVuelta">
                <label class="form-check-label" for="idaVuelta">Ida y vuelta</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ida" value="ida">
                <label class="form-check-label" for="ida">Solo ida</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="multidestino" value="multidestino">
                <label class="form-check-label" for="multidestino">Multidestino</label>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-4 d-flex align-items-center">
              <div class="input-group">
                <label class="input-group-text" for="">
                  <i class="fa-solid fa-location-dot" style="color: #172640;"></i>
                </label>
                <!-- <select class="form-select" aria-label="Filter select">
                  <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
                </select> -->
                <select class="form-select" aria-label="Filter select">
                  <option value="1">Medellín, Colombia</option>
                  <option value="2">Santorini, Grecia</option>
                  <option value="3">Ciudad de Panamá, Panamá</option>
                </select>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
              <div class="input-group">
                <label class="input-group-text" for="">
                  <i class="fa-regular fa-calendar" style="color: #172640;"></i> 
                </label>
                <input type="date" id="disabledTextInput" class="form-control">
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
              <button class="search-btn btn btn-primary btn-lg" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</section>

<!--Carousel-->
<section class="section-content container-fluid my-5 pt-5 pb-lg-4">
  <h2 class="mb-0">Vuelos recomendados</h2>
  <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of content1" class="slide">
      <div class="card align-items-center mt-5 mx-5" style="width: 18rem; border: 0;">
        <img src="{{ slide.image }}" alt="" width="100%">
        <div class="card-body">
          <p class="card-text">{{slide.city}}</p>
          <a href="#" class="btn btn-primary" style="background-color: aliceblue; border: 0; color: #2477CA;">{{slide.price}}</a>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>

<!--Paquetes Imperdibles-->
<section class="section-content container-fluid my-5 pt-5 pb-lg-4">
  <h2 class="mb-5">Paquetes imperdibles</h2>
  <div class="row col-12">
    <div class="col-6">
      <div class="card text-bg-dark border-0">
        <img src="../../../assets/images/Rectangle 16.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div class="d-flex justify-content-end">
            <h5 class="card-title indicator">
              <i class="fa-solid fa-plane-up" style="color: #2477CA;"></i>&nbsp;
              <i class="fa-solid fa-car" style="color: #2477CA;"></i>
            </h5>
          </div>
        </div>
        <h5 class="card-text text-wrap my-2 mx-2">Miami, Estados Unidos</h5>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="card text-bg-dark border-0">
            <img src="../../../assets/images/Rectangle 17.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="d-flex justify-content-end">
                <h5 class="card-title indicator">
                  <i class="fa-solid fa-plane-up" style="color: #2477CA;"></i>&nbsp;
                  <i class="fa-solid fa-car" style="color: #2477CA;"></i>
                </h5>
              </div>
            </div>
            <h5 class="card-text text-wrap my-2 mx-2">Cartagena, Colombia</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mr-3">
          <div class="card text-bg-dark border-0">
            <img src="../../../assets/images/Rectangle 18.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="d-flex justify-content-end">
                <h5 class="card-title indicator">
                  <i class="fa-solid fa-plane-up" style="color: #2477CA;"></i>&nbsp;
                  <i class="fa-solid fa-car" style="color: #2477CA;"></i>
                </h5>
              </div>
            </div>
            <h5 class="card-text text-wrap my-2 mx-2">Machu Pichu, Perú</h5>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-bg-dark border-0">
            <img src="../../../assets/images/Rectangle 19.png" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="d-flex justify-content-end">
                <h5 class="card-title indicator">
                  <i class="fa-solid fa-plane-up" style="color: #2477CA;"></i>&nbsp;
                  <i class="fa-solid fa-car" style="color: #2477CA;"></i>
                </h5>
              </div>
            </div>
            <h5 class="card-text text-wrap my-2 mx-2">Buenos Aires, Argentina</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<app-footer></app-footer>
