<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!--Social-->
    <section class="container-fluid my-5 pt-5 pb-lg-4">
        <div class="justify-content-center">
            <h2 class="mb-5 text-center">Únase a nuestra comunidad</h2>
            <h5 class="d-flex justify-content-center" style="font-size: 2.5rem">
                <i class="fa-brands fa-square-facebook" style="color: #2477CA;"></i>&nbsp;
                <i class="fa-brands fa-square-instagram" style="color: #2477CA;"></i>&nbsp;
                <i class="fa-brands fa-square-twitter" style="color: #2477CA;"></i>&nbsp;
                <i class="fa-brands fa-linkedin" style="color: #2477CA;"></i>&nbsp;
                <i class="fa-brands fa-square-youtube" style="color: #2477CA;"></i>
            </h5>
        </div>
    </section>
    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Acerca de nosotros
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">FAQ</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contáctenos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Sucursales Aviatur</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Organización Aviatur</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Trabaje con nosotros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Premios y certificaciones</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Declaración viajero responsable</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Buenas prácticas en turismo sostenible</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Información útil para el viajero en Colombia</a>
                    </p>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Servicio al cliente
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Solicite su cotización aquí</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Evalúe nuestro sitio</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Reclamos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Problemas técnicos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Escríbale a Jean Claude Bessudo</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Otros productos
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Viajes corporativos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Consolidador de agentes/agencias</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Portal de factiración electrónica</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Caso Navegante</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Tiquetes baratos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hoteles baratos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contenidos Aviatur</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Revista Horizontes</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Otros servicios
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Avia Tecnología</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Avia Legal</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Avia Seguros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Avia Soluciones Hoteleras</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Carga y logística</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contratos de transporte aerolíneas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Canal de contenidos RSS</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Blog Aviatur</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Sistema de crédito</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Información de aerolíneas</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
                    <p>
                        Derechos del pasajero y/o deberes del transportador - SIC -
                        www.rues.org.co - Aerocivil - Contra la pornografía infantil -
                        Denuncie situaciones que afectan a menores de 18 años.
                    </p>

                    <p>
                        AVIATUR apoya el trabajo de UNICEF comprometiéndose con la
                        protección de los derechos de las niñas, niños y adolescentes
                        en Colombia y el mundo. Necesitamos también su compromiso.
                        Invierta en el poder de los niños, el valor más rentable de Colombia.
                    </p>

                    <p>
                        Términos y condiciones del sitio - Política de privacidad y
                        tratamiento de los datos personales - Formulario de reversión
                        de pagos - Todos los derechos reservados Derecho de retracto y
                        desistimiento, según Resolución 1209 del 5/25/2015 de la UAEAC.
                    </p>

                    <p>
                        Aviatur.com 2016
                    </p>

                    <p>
                        Aviatur INC. - 6316 NW AVE DORAL, FL 33178 - 01 8000 911 555
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>
                                <i class="fa-solid fa-location-dot" style="color: #2477CA;"></i>&nbsp;
                                Avenida 19 No. 4 - 62, Bogotá, Colombia 
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-solid fa-envelope" style="color: #2477CA;"></i>&nbsp;
                                cliente.com@aviatur.com.co
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-solid fa-phone" style="color: #2477CA;"></i>&nbsp;
                                Bogotá 3821616 - 5879640
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-brands fa-whatsapp" style="color: #2477CA;"></i>&nbsp;
                                +5713821616
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-regular fa-circle-question" style="color: #2477CA;"></i>&nbsp;
                                018000911555
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-solid fa-file-lines" style="color: #2477CA;"></i>&nbsp;
                                NIT: 860.000.018-2.  
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-solid fa-city" style="color: #2477CA;"></i>&nbsp;
                                Agencia de viajes Aviatur SAS
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa-solid fa-circle-check" style="color: #2477CA;"></i>&nbsp;
                                Registro Nacional de Turismo No. 438.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <div class="col-12 d-flex align-items-center">
                        <div class="col-6 d-flex justify-content-center">
                            <img src="../../../assets/images/IATA.png" style="width: 9rem;">
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <img src="../../../assets/images/anato.png" style="width: 6rem;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>